.profile__logout {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #EE3465;
}

.profile__logout:hover {
    opacity: .7;
    cursor: pointer;
}