.project__description-holder {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 550px;
}

@media screen and (max-width: 1000px) {
    .project__description-holder {
        max-width: 319px;
    }
}

@media screen and (max-width: 500px) {
    .project__description-holder {
        gap: 16px;
    }
}