.project__week_topleft {
    color: #000000;
    background-color: #3DDC84;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .project__week_topleft {
        font-size: 11px;
        line-height: 13px;
    }
}