.project__descriptions {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin: 70px 0 0 0;
    gap: 40px;
}


@media screen and (max-width: 1000px) {
    .project__descriptions {
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .project__descriptions {
        margin: 60px 0 0 0;
        flex-direction: column;
        gap: 56px;
    }
}