.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 339px;
    }
}

@media screen and (max-width: 750px) {
    .card {
        width: 300px;
    }
}