.card__name {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

@media screen and (max-width: 750px) {
    .card__name {
        font-size: 12px;
        line-height: 15px;
    }
}