.portfolio__links {
    margin: 0 0 125px 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 500px) {
    .portfolio__links {
        gap: 19px;
        margin: 0 0 70px 0;
    }
}