.savedmovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
}

@media screen and (max-width: 1200px) {
  .savedmovies {
    margin: 0 30px;
  }
}

@media screen and (max-width: 750px) {
  .savedmovies {
    max-width: 320px;
    margin: 0 10px;
  }
}