.techs__holder {
    margin: 100px 0 70px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: 90px;
}

@media screen and (max-width: 1000px) {
    .techs__holder {
        margin: 74px 0 70px 0;
    }
}

@media screen and (max-width: 750px) {
    .techs__holder {
        margin: 50px 0 70px 0;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: 56px;
    }
}