.techs__accent {
    margin: 90px 0 0 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .techs__accent {
        margin: 60px 0 0 0;
        font-size: 30px;
        line-height: 36px;
    }
}