.header__link-auth {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
}

@media screen and (max-width: 500px) {
    .header__link-auth {
        font-size: 10px;
        line-height: 16px;
    }
}

.header__link-auth:hover {
    opacity: .7;
}