.header__link-holder-auth {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
    margin: 0 0 0 65px;
}

@media screen and (max-width: 1000px) {
    .header__link-holder-auth {
        display: none;
    }
}