.search {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 80px 70px 10px;
}

@media screen and (max-width: 1200px) {
    .search {
        padding: 80px 30px 10px;
    }
}

@media screen and (max-width: 750px) {
    .search {
        max-width: 320px;
        padding: 80px 14px 10px;
    }
}